* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

html {
  scroll-behavior: smooth;
}

/* Solutions page */

.training-section {
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

.training-section h1 {
  color: #333333c9;
}

.training-section h2 {
  color: #333333c9;
  font-style: italic;
}

.solution-scroll {
  overflow: hidden;
  padding: 20px 0;
  background: #ffffff;
  white-space: nowrap;
  position: relative;
}

.solution-scroll:before,
.solution-scroll:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.solution-scroll:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f8f7f7);
}

.solution-scroll:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f7f7);
}

.solution-scroll:hover .images-scroll {
  animation-play-state: paused;
}

.text-scroll {
  overflow: hidden;
  padding: 60px 0;
  background: #f8f7f7;
  white-space: nowrap;
  position: relative;
}

.text-scroll:before,
.text-scroll:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.text-scroll:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f8f7f7);
}

.text-scroll:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f7f7);
}

.solution-scroll:hover .images-scroll {
  animation-play-state: paused;
}

.text-scroll:hover .target-scroll {
  animation-play-state: paused;
}

.images-scroll {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.images-scroll img {
  height: 100px;
  margin: 0 30px;
}

.target-scroll {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.target-scroll p {
  box-shadow: 1px 1px 6px -1px black;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.sub-target-scroll {
  display: flex;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes textSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
